<html>
<head>
	<script src="./js/vue.js"></script>
  <script src="./js/vuex.js"></script>
  <script src="./js/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="./css/app.css">
  <link rel="stylesheet" type="text/css" href="./css/foundation.css">
</head>
<!-- template for the modal component -->
<script type="text/x-template" id="modal-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              Modify {{ players[currentPlayer].name }}
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              <div class="row">
                <div class="column medium-6">
                  Init: <input type="text" id="init2" :value="players[currentPlayer].init">
                </div>
                <div class="column medium-6">
                  Bonus: <input type="text" id="bonus2" :value="players[currentPlayer].bonus" >
                </div>
              </div>
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              
              <button class="modal-default-button button" v-on:click="save();" @click="$emit('close')">
                OK
              </button>
              <br/>
              <br/>
            </slot>

          </div>
        </div>
      </div>
    </div>
  </transition>
</script>
<script type="text/x-template" id="modal-reset">
  <transition name="modal-reset">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              Modify {{ players[currentPlayer].name }} 
              <button type="button" class="button" :disabled="currentPlayer == maxPlayers" style="float:right;margin-left:5px" v-on:click="modalChangeCharacter(currentPlayer+1)"> Forward </button>
            <button style="float:right" :disabled="currentPlayer == 0" type="button" class="button" v-on:click="modalChangeCharacter(currentPlayer-1)"> back </button>
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              <div class="row">
                <div class="column medium-6">
                  Init: <input type="text" id="init2" :value="players[currentPlayer].init">
                </div>
                <div class="column medium-6">
                  Bonus: <input type="text" id="bonus2" :value="players[currentPlayer].bonus" >
                </div>
              </div>
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              
              <button class="modal-default-button button" v-on:click="save();" @click="$emit('close')">
                OK
              </button>
              <br/>
              <br/>
            </slot>

          </div>
        </div>
      </div>
    </div>
  </transition>
</script>

<body>



<div id="app4" style="padding-top:10px">

  <div class="row">
    <div class="medium-4 column">
      <div class="row">
        <div class="medium-12 column">
            Add Player:<br/>
            Name: <input type="text" id="name">
        </div>
        <div class="medium-6 column">
            Init: <input type="text" class="small-6" id="init">
        </div>
        <div class="medium-6 column">
            Bonus: <input class="small-6" type="text" id="bonus">
        </div>
      </div>
           
        <button type="button" class="button" id="addPlayer" onclick="addPlayer()">Add</button>
        <br/>
    </div>
    <div class="medium-4 column">
        Conditions:<br/>
        Add Condition:<br/>
        <div class="row">
          <div class="medium-12 column">
              Name: <input type="text" id="player">
          </div>
          <div class="medium-6 column">
              Condition: 
              <select id="conName" >
                 <option value="">Choose</option>
                 <option v-for="status in statuses" v-bind:value="status"> {{status}}</option>
               </select>
          </div>
          <div class="column medium-6">
              Total Rounds: <input type="text" id="rounds">
              <button type="button" class="button" id="addPlayer" v-on:click="addCondition()">Add</button>
          </div>
        </div>
    </div>
    <div class="medium-4 column">
        <table border="1">
            <tr>
               <th>Character</th>
               <th>Condition</th>
               <th>Rounds Active</th>
               <th>Total Rounds</th>
        
            </tr>
            <tr v-for="condition in conditions" >
              <td>{{ condition.player }}</td> 
              <td style="text-align:center"> {{ condition.name }}</td> 
              <td style="text-align:center">{{ condition.active }}</td> 
              <td style="text-align:center">{{ condition.total }}</td>
            </tr>
          </table>
    </div>
  </div>
  
  <div class="row align-center">
    <div class="column medium-4">
      <button type="button" class="button" v-on:click="reset()">Reset Characters</button> &nbsp; <button class="button" type="button" v-on:click="clear()">Clear Characters</button> 
      &nbsp; <button type="button" class="button" v-on:click="openModalNewFight()">New Fight!</button>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 column">
      <table border="1" style="font-size:30px;">
        <tr>
           <th>Character</th>
           <th>Init</th>
           <th>Bonus</th>
        </tr>
        <tr v-for="(player, index) in players" >
          <td v-bind:class="{ active: readyPlayer(index) }" v-on:click="openModal(index)">{{ player.name }}</td>
           <td  style="text-align:center" v-on:click="openModal(index)"> {{ player.init }}</td> 
           <td style="text-align:center" v-on:click="openModal(index)">{{ player.bonus }}</td>
           <td style="text-align:center" v-on:click="deletePlayer(index)">Delete</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row align-center">
    <div class="column medium-3" style="text-align:center">
        Round: {{ round }}
        <button type="button" class="button" v-on:click="showNextPlayer()" style="margin-bottom:5px;">Fight!</button><br/>
        
    </div>
  </div>
  <modal v-if="showModal" @close="showModal = false">

  </modal>
  <modal-reset v-if="showModalNewFight" @close="showModalNewFight = false">
    
  </modal-reset>
</div>
<script src="./js/what-input.js"></script>
<script src="./js/foundation.js"></script>
<script src="./js/init.js"></script>




</body>
</html>